openapi: 3.2.0
info:
  title: MyShipTracking Account API
  description: The MyShipTracking API delivers real-time terrestrial-AIS maritime data over REST.
  version: '2.0'
  contact:
    name: MyShipTracking
    url: https://www.myshiptracking.com
  termsOfService: https://api.myshiptracking.com/docs/terms
servers:
- url: https://api.myshiptracking.com/api/v2
  description: MyShipTracking API v2
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Account
  description: Account details and credit balance.
paths:
  /account/info:
    get:
      operationId: getAccountInfo
      tags:
      - Account
      summary: Account info
      description: Retrieve account details and credit balance. No credits are charged for this endpoint.
      responses:
        '200':
          description: Account info envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorEnvelope:
      allOf:
      - $ref: '#/components/schemas/EnvelopeMeta'
      - type: object
        properties:
          code:
            type: string
            example: MST_ERR_VALIDATOR
          message:
            type: string
    EnvelopeMeta:
      type: object
      properties:
        status:
          type: string
          example: success
        duration:
          type: string
          description: Processing time.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 server timestamp.
    AccountEnvelope:
      allOf:
      - $ref: '#/components/schemas/EnvelopeMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/Account'
    Account:
      type: object
      properties:
        account_type:
          type: string
          description: Coin Charge (pay-per-use) or Subscription (recurring plan).
        created:
          type: string
          format: date-time
        available_coins:
          type: integer
        expire_date:
          type:
          - string
          - 'null'
          format: date-time
        is_trial:
          type: boolean
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as: Authorization: Bearer YOUR_API_KEY.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key passed in the x-api-key header.
