openapi: 3.2.0
info:
  title: MyShipTracking Ports API
  description: The MyShipTracking API delivers real-time terrestrial-AIS maritime data over REST.
  version: '2.0'
  contact:
    name: MyShipTracking
    url: https://www.myshiptracking.com
  termsOfService: https://api.myshiptracking.com/docs/terms
servers:
- url: https://api.myshiptracking.com/api/v2
  description: MyShipTracking API v2
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Ports
  description: Port details, port calls, and arrival estimates.
paths:
  /port:
    get:
      operationId: getPortDetails
      tags:
      - Ports
      summary: Port details
      description: Retrieve details for a specific port. Provide exactly one of port_id or unloco. 1 credit per request.
      parameters:
      - name: port_id
        in: query
        required: false
        description: Unique port identifier. Provide exactly one of port_id or unloco.
        schema:
          type: integer
      - name: unloco
        in: query
        required: false
        description: UN/LOCODE of the port. Provide exactly one of port_id or unloco.
        schema:
          type: string
      responses:
        '200':
          description: Port details envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /port/estimate:
    get:
      operationId: getPortEstimate
      tags:
      - Ports
      summary: Port estimated arrivals (ETA)
      description: Obtain estimated arrival times for vessels heading to a given port. Provide exactly one of port_id or unloco. 1 credit per record returned.
      parameters:
      - name: port_id
        in: query
        required: false
        description: Port identifier. Provide exactly one of port_id or unloco.
        schema:
          type: integer
      - name: unloco
        in: query
        required: false
        description: Port UN/LOCODE. Provide exactly one of port_id or unloco.
        schema:
          type: string
      responses:
        '200':
          description: Estimated arrivals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortEstimateEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /port/calls:
    get:
      operationId: getPortCalls
      tags:
      - Ports
      summary: Port calls (arrivals and departures)
      description: Retrieve historical port call events. Supply at least one of mmsi, or port_id/unloco, and either days or a fromdate/todate range (not both). Charged 5 credits per distinct date in the returned records.
      parameters:
      - name: type
        in: query
        required: false
        description: 'Filter: 0 all, 1 arrivals, 2 departures.'
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          default: 0
      - name: port_id
        in: query
        required: false
        description: Port identifier (mutually exclusive with unloco).
        schema:
          type: integer
      - name: unloco
        in: query
        required: false
        description: Port UN/LOCODE (mutually exclusive with port_id).
        schema:
          type: string
      - name: mmsi
        in: query
        required: false
        description: 9-digit vessel identifier.
        schema:
          type: integer
      - name: days
        in: query
        required: false
        description: Lookback period in days. Provide either days OR fromdate/todate.
        schema:
          type: integer
      - name: fromdate
        in: query
        required: false
        description: Start datetime in UTC (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: todate
        in: query
        required: false
        description: End datetime in UTC (ISO 8601).
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Port call events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortCallsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorEnvelope:
      allOf:
      - $ref: '#/components/schemas/EnvelopeMeta'
      - type: object
        properties:
          code:
            type: string
            example: MST_ERR_VALIDATOR
          message:
            type: string
    PortEstimate:
      type: object
      properties:
        mmsi:
          type: integer
        imo:
          type: integer
        vessel_name:
          type: string
        vtype:
          type: integer
        vessel_type:
          type: string
        flag:
          type: string
        gt:
          type: integer
        dwt:
          type: integer
        built:
          type: integer
        length:
          type: integer
        width:
          type: integer
        eta_utc:
          type: string
          format: date-time
        eta_local:
          type: string
          format: date-time
    EnvelopeMeta:
      type: object
      properties:
        status:
          type: string
          example: success
        duration:
          type: string
          description: Processing time.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 server timestamp.
    PortCall:
      type: object
      properties:
        event:
          type: string
          enum:
          - ARRIVAL
          - DEPARTURE
        time_utc:
          type: string
          format: date-time
        time_local:
          type: string
          format: date-time
        mmsi:
          type: integer
        imo:
          type: integer
        vessel_name:
          type: string
        port_id:
          type: integer
        port_name:
          type: string
        unloco:
          type: string
    PortEnvelope:
      allOf:
      - $ref: '#/components/schemas/EnvelopeMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/Port'
    Port:
      type: object
      properties:
        port_id:
          type: integer
        name:
          type: string
        unloco:
          type: string
        port_type:
          type: string
        country:
          type: string
        timezone:
          type: string
    PortCallsEnvelope:
      allOf:
      - $ref: '#/components/schemas/EnvelopeMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/PortCall'
    PortEstimateEnvelope:
      allOf:
      - $ref: '#/components/schemas/EnvelopeMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/PortEstimate'
  responses:
    BadRequest:
      description: Parameter validation failed or an invalid identifier was supplied.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as: Authorization: Bearer YOUR_API_KEY.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key passed in the x-api-key header.
